.card-name{
    float: left;
    background-color: white;
    width: 195px;
    margin-bottom: 7px;
    margin-right: 5px;
    padding-left: 5px;
    cursor: default;
    color: #505254;
}
.delete{
    float:right;
    color: darkred;
    width: 20px;
    height: 20px;
    border-radius: 13px;
    background-color: white;
    text-align: center;
    float: right;
    cursor: pointer;

}
.edit-visible{
    text-decoration:underline;
    float: right;
    width: 20px;
    
    cursor: pointer;
}

.save-card-name{
    border: solid 1px darkgrey;
    border-radius: 3px;
    width: 40px;
    text-align: center;
    color: #505254;
    background-color: #5db248;
    margin-bottom: 5px;
}
.edit-card-name{
    resize: none;
}