h1{
    color: #fff;
    margin: 20px 20px;
    font-weight: 500;
    font-size: 27px;
}

.list-title{
     float: left;
     margin-bottom: 20px;
     margin-left: 20px;
     background-color: #e2e4e6;
     padding: 5px;
     border-radius: 5px;
}

.newList{
     margin-bottom: 20px;
     margin-left: 20px;
     background-color: #e2e4e6;
     padding: 10px;
     border-radius: 5px;
     
     float: left;
    }
.save-list{
    background-color: #5db248;
    color: white;
}