<h1>{{title}}</h1>

<!-- вывод lists -->

<div class="list-title" *ngFor="let list of lists">
    <list-component [list]="list"></list-component>
<!--{{list.listName}}
    <div class="card-title" *ngFor="let card of list.cards">
        {{card.cardName}}
    </div>
    <div class="new-task">
        <form class="add-task" (ngSubmit)="submit($event)">
            <input type="text" [(ngModel)]="newTask" name="first" onclick="this.form.reset();">
            <input type="submit" value="Add">
        </form>
    </div>




</div> -->
</div>
<!-- ++++++++++Добавление нового списка задач++++++++++ -->
<div class="newList">
    <form class="add-list" (ngSubmit)="submitList($event)">
        <input type="text" [(ngModel)]="newList" name="first" onclick="this.form.reset();">
        <input type="submit" value="Save">
    </form>
</div>